services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: currency-converter-app
    expose:
      - '3000'
    environment:
      - NODE_ENV=production
      - PORT=3000
      - MONOBANK_API_URL=https://api.monobank.ua/bank/currency
      - CACHE_TTL=300
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - web
      - default
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: currency-converter-redis
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped

networks:
  web:
    external: true

volumes:
  redis_data:
